<div class="row">
                    <ul class="list-inline text-center">
                        <li>
                            <i class="fa fa-github"></i>
                            <a href="http://github.com/arthurvard"  target="_blank">github</a>
                        </li>
                        <li>
                            <i class="fa fa-file-o"></i>
                            <a href="http://hub.darcs.net/arthur"  target="_blank">darcshub</a>
                        </li>
                        <!-- <li>
                            <i class="fa fa-twitter-square"></i>
                            <a href="http://twitter.com/arthurvard"  target="_blank">twitter</a>
                        </li> -->
                        <li>
                            <i class="fa fa-user"></i>
                            <a href="http://www.haskellers.com/user/arthurvard"  target="_blank">haskeller</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:alpmestan@gmail.com">artie.vard@gmail.com</a>
                        </li>
                        <li>© 1995-2016 <a href="/about.html">Արթուր Վարդանեան</a></li>
                    </ul>
                </div>