<div id="cbp-qtrotator" class="cbp-qtrotator">

<div class="cbp-qtcontent current">
<img src="images/blank.png" alt="img01" />
<blockquote>
<p>Человек не рождается, рождается некая возможность стать человеком</p>
<footer>ГП</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>Ум, хорошо устроенный, лучше, чем хорошо наполненный.</p>
<footer>М. Монтень. Опыты</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img03" />
<blockquote>
<p>Я знаю, как на мёд садятся мухи, Я знаю смерть, что рыщет, все губя,<br/>

Я знаю книги, истины и слухи, Я знаю все, но только не себя</p>
<footer>Франсуа Вийон</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>От ненужных побед остается лишь усталось!</p>
<footer></footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>Желудок умнее мозга, потому что желудок умеет тошнить. Мозг же глотает любую дрянь.</p>
<footer>Чингиз Айтматов</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>...սերունդները աստիճանաբար հեռանում են Աստծուց, հայրերի և ժառանգների կոնֆլիկտի էությունը դա է...</p>
<footer>Մանուկ Մկրտչյան</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>Суди о прожитом дне не по урожаю, который ты собрал, а по семенам, что ты посеял в этот день. <br>
Don't judge each day by the harvest you reap but by the seeds that you plant.
</p>
<footer>Роберт Льюис Стивенсон</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>When all you own is a hammer, every problem starts looking like a nail.  </p>
<footer>Abraham Maslow</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>If you really want to learn something, write a book about it, edit a book about it or teach a class about it.</p>
<footer>Abraham Maslow</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>Հայ ծնվելը ՊԱՏԻՎ է, ապրելը ՊԱՅՔԱՐ, իսկ մեռնելը ՀԱՂԹԱՆԱԿ:</p>
<footer>Վազգեն Ա Կաթողիկոս</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>The aspects of things that are most important for us are hidden because of their simplicity and familiarity. (One is unable to notice something because it is always before one’s eyes.) </p>
<footer> Ludwig Wittgenstein</footer>
</blockquote>
</div>


<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>Don't say you don't have enough time. You have exactly the same number of hours per day that were given to Helen Keller, Pasteur, Michaelangelo, Mother Teresa, Leonardo da Vinci, Thomas Jefferson, and Albert Einstein.</p>
<footer>H. Jackson Brown Jr.</footer>
</blockquote>
</div>

<div class="cbp-qtcontent"> <img src="images/blank.png" alt="img02" />
<blockquote>
<p>We can't solve problems by using the same kind of thinking we used when we created them.
</p>
<footer>Albert Einstein</footer>
</blockquote>
</div>

<span class="cbp-qtprogress"></span> </div>

